<div class="row py-4 text-center">
  <div class="col">
    <h1>OWASP Versions</h1>
  </div>
</div>
<div class="accordion" id="owaspVersions">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          OWASP 2017
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#owaspVersions">
      <div class="card-body">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action">A1 - Injection (SQL)</a>
          <a href="#" class="list-group-item list-group-item-action">A1 - Injection (Other)</a>
          <a href="#" class="list-group-item list-group-item-action">A2 - Broken Authentication and Session Management</a>
          <a href="#" class="list-group-item list-group-item-action">A3 - Sensitive Data Exposure</a>
          <a href="#" class="list-group-item list-group-item-action">A4 - XML External Entities</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          OWASP 2013
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#owaspVersions">
      <div class="card-body">

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          OWASP 2010
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#owaspVersions">
      <div class="card-body">

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          OWASP 2007
        </button>
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#owaspVersions">
      <div class="card-body">

      </div>
    </div>
  </div>
</div>
