<div class="row py-4 text-center">
  <div class="col">
    <h1>Captured Data</h1>
  </div>
</div>
<div class="card">
  <h5 class="card-header">Captured Data Page</h5>
  <div class="card-body">
    <p class="card-text">
      This page shows the data captured by page capture-data.php. There should also be a file
      with the same data since capture-data.php tries to save the data to a table and a file.
      The table contents are being displayed on this page. On this system, the file should be
      found in C:/xampp8/htdocs/mutillidae. The database table is named captured_data.
    </p>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Hostname</th>
        <th scope="col">Client IP Address	</th>
        <th scope="col">Client Port</th>
        <th scope="col">User Agent</th>
        <th scope="col">Referrer</th>
        <th scope="col">Data</th>
        <th scope="col">Date/Time
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>localhost</td>
        <td>127.0.0.1</td>
        <td>80</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>localhost</td>
        <td>127.0.0.1</td>
        <td>80</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>localhost</td>
        <td>127.0.0.1</td>
        <td>80</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
