@media (min-width: 1200px) {
  .main-container {
    min-height: 380px;
  }
}

@media (min-width: 1400px) {
  .main-container {
    min-height: 450px;
  }
}

@media (min-width: 1600px) {
  .main-container {
    min-height: 650px;
  }
}

